<!DOCTYPE html>
	<form method="get" action= "/quizzes">
		<p>Busqueda de preguntas</p>
		<input type="text" name="search"  placeholder="Escriba aquí"/>
		<input type="submit" value="Buscar">
	</form>
	<table>
		<% for (var i in quizzes) { %>
			<tr>
				<td>
					<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
				</td>
			</tr>
		<% } %>
	</table>